{% load static %}
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Gothic+A1|Pacifico|Permanent+Marker" rel="stylesheet">
    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <link rel="stylesheet" href='{% static "css/style.css" %}'>
    
        <title>첫번째팀과제</title>
    </head>
    <body>
    
        <div class="container">
                <div class="ban text-center"><a href="/"><h1 class="cb">도전 ! 서민 탈출 </h1></a></div>
                <br><br>
                {% block content %}
    
    
                {% endblock %} 

        </div>
        
    </body>