.ban {
    margin-bottom: 100px;
    font-family: 'Black Han Sans', sans-serif;
    float:center;
}

.fon {
    font-family: 'Black Han Sans', sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.cb{
    color : black;
}

.ball {
    width:50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size:20px;
    font-family: 'Black Han Sans', sans-serif;
    display: inline-block;
    
}

.one{
    background-color:red;
}

.two{
    background-color:orange;
}

.three{
    background-color:yellow;
}

.four{
    background-color:blue;
}

.five{
    background-color:green;
}